global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096

defaults
  log            global
  retries             3
  maxconn          2000
  timeout connect  5000
  timeout client  50000
  timeout server  50000

listen stats
  bind 0.0.0.0:31000
  balance
  mode http
  stats enable
  stats hide-version
  stats refresh 10s
  stats realm Strictly\ Private
  stats auth admin:admin
  stats uri /haproxy